<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        
        <script src="https://utteranc.es/client.js"
        repo="github.com/mtinet/blog_comments"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
        </script>
        
        {{- partial "footer.html" . -}}
    </body>
</html>
